<!--
  Filename: bottom_nav.ejs;
  Author: Sau Han, Chan;
  StudentID: 301276498;
  Date: 2023-06-02;
  Description: This is for the bottom navbar part including copyrights & credits info.
-->

<footer>
    <nav class="navbar fixed-bottom navbar-custom">
        <h6 class="display-4 navbar-text">Copyright &copy; Sau Han CHAN (Student no.:301276498) - COMP229(Sec.004) Assignment#1
            - photo credits to 
            <a href="https://www.zdnet.com/education/computers-tech/easiest-programming-languages-to-learn/" target="_blank">zdnet</a> 
            and 
            <a href="https://www.freepik.com/free-photo/business-woman-hand-with-financial-charts-mobile-phone-laptop-table_1254911.htm#query=contact&position=20&from_view=search&track=sph" target="_blank">freepik</a>
        </h6>
    </nav>
</footer>