<!--
  Filename: header.ejs;
  Author: Sau Han, Chan;
  StudentID: 301276498;
  Date: 2023-06-02;
  Description: This is for the header part.
-->

<!doctype html>
<html lang="en">
  <head>
    <!-- #Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!---->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title><%= title %></title>

    <!-- #Required links -->
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="shortcut icon" href="images/shLogo.png" type="image/x-icon">

    <!-- #Embedded stylesheets for the navbar & major structure-->
    <style>
        ul.navbar-nav {
            list-style: none;
            display: inline;
            float:right;
            font-size:18px;
            padding-left: 20px;
        }

        ul.navbar-nav li {
            display: inline-block;
        }        

        a:link,a:visited,a:hover,a:active {
            text-decoration: none;
        }
        nav a:hover,a:active{
            color: white;
        }

        .nav-link.active{
            color: white;   
            border-bottom: #def6f8 dotted 3px;
        }

        /*#Set the major structure of the webpage*/
        html,body {
        height: 100%;
        margin: 0;
        }
        body {
        display: flex;
        flex-direction: column;
        }
        main {
        flex: 1;
        }
        
        /*#Modify the footer navbar text*/
        footer .navbar-text {
            margin-bottom: 0;
            font-size: small;
        }
        /*#Modify the navbar background and text color, etc. */
        .navbar-custom {
            background-color: #095d81;
            color: rgb(255, 255, 255);
            height: 40px;
            padding-top:4px;
            padding-bottom:20px;
        }
        .navbar-custom-top{
            background-color: #095d81;
            color: rgb(255, 255, 255);
        }

        /*#Modify the Jumbotron bg color*/
        .bgColorJumbo{
            background-color: #def6f8;
        }
    </style>
  </head>
  <body>