<!--
  Filename: main_nav.ejs;
  Author: Sau Han, Chan;
  StudentID: 301276498;
  Date: 2023-06-02;
  Description: This is for the top navbar.
-->

<!--#main Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-custom-top">
    <div class="container-fluid">
      
      <!--#For logo & motto tagline-->
      <a class="navbar-brand" href="/"><img src="/images/shLogo.png" alt="logo" width="80px"; height="80px" style="margin: 5px;"></a>
      <span class="collapse navbar-collapse" style="font-size: 26px;font-family:Georgia, 'Times New Roman', Times, serif;font-weight: bolder;">
        BE OPEN TO NEW IDEAS</span>
      
      <!--#For nav items-->
      <div>
        <b>
          <ul class="navbar-nav ml-auto">

            <!--#Check if the page is active for each one-->
            <li class="nav-item">
                <a class=
                  <% if (title=="Home") { %>
                    "nav-link active"
                  <% } else { %>
                    "nav-link"
                  <% } %>
                  aria-content=page href="/"><i class="fa-solid fa-home-alt"></i> Home </a>
            </li>

            <li class="nav-item">
                <a class=
                  <% if (title=="About") { %>
                    "nav-link active"
                  <% } else { %>
                    "nav-link" 
                  <% } %>
                  aria-content=page href="/about"><i class="fa-solid fa-person"></i> About </a>
            </li>

            <li class="nav-item">
                <a class=
                  <% if (title=="Projects") { %>
                    "nav-link active" 
                  <% } else { %>
                    "nav-link"
                  <% } %>
                  aria-content=page href="/projects"><i class="fa-solid fa-diagram-project"></i> Projects </a>
            </li>

            <li class="nav-item">
                <a class=
                  <% if (title=="Services") { %>
                    "nav-link active" 
                  <% } else { %>
                    "nav-link"
                  <% } %>
                  aria-content=page href="/services"><i class="fa-brands fa-servicestack"></i> Services </a>
            </li>

            <li class="nav-item">
                <a class=
                  <% if (title=="Contact") { %>
                    "nav-link active"
                  <% } else { %>
                    "nav-link"
                  <% } %>
                  aria-content=page href="/contact"><i class="fa-solid fa-address-card"></i> Contact </a>
            </li> 

          </ul>
        </b>
      </div>
    </div>
</nav>