<!--
  Filename: error.ejs;
  Author: Sau Han, Chan;
  StudentID: 301276498;
  Date: 2023-06-02;
  Description: This is for the error page.
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
