<!--Using EJS template engine for header and main navbar-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
   
<main class="container">
  <div class="jumbotron">
    <h1 class="display-5">
      <img src="/images/circles.gif" width="12px" height="12px" alt="">&nbsp;
      Welcome to Sau Han's page
      &nbsp;<img src="/images/circles.gif" width="12px" height="12px" alt="">
    </h1>
  </div>
  <img src="/images/languages.png" width="400" height="310" style="float:right;margin-left:20px">
  <p>Hi everyone, this is Sau Han, Chan from Hong Kong.</p>
  <p>My goal is to become one of the competent programmers in this fast evolving industry by incorporating what I have learnt in school, 
    with my transferrable problem solving skills in marketing, creativity in design, and analytical skills in Risk Management.</p>
  <p>
    <h3>My motto: Be open to new ideas
      <img src="/images/bulb.png" width="40" height="50">
    </h3>
  </p>
  <p>If you would like to know me more, just click 
  <a href="about">here</a> or the below button to check out my <b>About</b> page!</p>
  <p><a href="about"><button>ABOUT ME</button></a></p>
</main>   
   
<!--Using EJS template engine for bottom navbar and footer-->
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>