/*
  Filename: style.css;
  Author: Sau Han, Chan;
  StudentID: 301276498;
  Date: 2023-06-02;
  Description: This is for the pages css in general.
*/

*{box-sizing: border-box;}

/*#For overall pages*/
body {
  padding: 0px;
  font: 14px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: justify;
  color:#082544;
  margin:0px;
}

a{
  color:#2d75b4;
  text-decoration: none;
  font-weight: bold;
}

hr{
  border-top:1.5px solid #bfd3ea;
  margin-left:0px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

/*#For general buttons*/
button {
  transition-duration: 0.4s;
  background-color: #0b6e98;
  color: #ffffff;
  font-weight: bold;
  padding:5px;
  padding-left: 15px;
  padding-right: 15px;
  border:none;
  border-radius: 4px;
  font-size: 16px;
  margin-right:auto;
  margin-left: 100px;
  margin-top: 4px;
  cursor: pointer
}

button:hover {
  background-color: #4de3ee;
  color: #06203b;
}   

/*#For input buttons*/
input[type="submit"]{
  transition-duration: 0.4s;
  background-color: #0b6e98;
  color: #ffffff;
  font-weight: bold;
  padding:5px;
  padding-left: 15px;
  padding-right: 15px;
  border:none;
  border-radius: 4px;
  font-size: 16px;
  margin-right:auto;
  margin-top: 4px;
  cursor: pointer
}

input[type="reset"]{
  transition-duration: 0.4s;
  background-color: #0b6e98;
  color: #ffffff;
  font-weight: bold;
  padding:5px;
  padding-left: 15px;
  padding-right: 15px;
  border:none;
  border-radius: 4px;
  font-size: 16px;
  margin-right:auto;
  margin-left: 30px;
  margin-top: 4px;
  cursor: pointer
}

input[type="reset"]:hover,input[type="submit"]:hover {
  background-color: #4de3ee;
  color: #06203b;
}

/*#For the main content on each main .ejs page*/
.mainContent{
  padding-left: 30px;
  text-align: justify;
  margin-bottom: 80px;
}

/*##For Jumbotron's attributes*/
.jumbotron{
  height: 100px;
}

/*##To add margin top space for the navbar*/
main{
  margin-top: 110px;
}

/*#For table in projects & services*/
table{
  margin:0px;
}

td{
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

tr.projects{
  border-bottom: #136c84 double 3px;
}

table.services{
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/*#For the contact form - general*/
li.form {
  list-style: none;
  padding: 5px 5px 8px 20px;
  background-image: url(/images/circles.gif);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 7px;
  line-height: 10px;
}

textarea{
resize: none;
overflow-y: scroll;
height:80px;
width:50%;
margin-left:20px;
padding-left:10px;
}

/*#For the labels in the contact form - esp for floating left*/
.form_preference label{
  float:left;
  display: block;
  text-align: right;
  width:222px;
  padding-right: 0px;
  font-weight: bold;
}

label {
  margin-right: 20px;
  font-weight: bold;
}

p label{
  margin-right:20px;
}

/*#For the contact form in contact page - CONTACT banner*/
fieldset legend{
  font-weight: bold;
  height:100px;
  margin-left:-15px;
  background-color: rgb(26, 201, 201);
  text-align: center;
  vertical-align:middle;
  display:table-cell;
  line-height: 100px;
  font-size: 30px;
  color: #ffffff;
}

/*=========================*/